<div class="expandable">
  <div class="hxBox-xs expander" ng-click="$ctrl.toggleExpand()">
    <div class="hxRow">
      <div class="hxCol hxSpan-11"><h3>{{ $ctrl.title }}</h3></div>
      <div class="hxCol hxSpan-1 right">
        <button class="hxBtn hxLink">
          <hx-icon ng-if="$ctrl.expanded" type="angle-up"></hx-icon>
          <hx-icon ng-if="!$ctrl.expanded" type="angle-down"></hx-icon>
        </button>
      </div>
    </div>
  </div>

  <div ng-show="$ctrl.expanded" class="hxBox-xs searchResultsContainer expandee">
    <div ng-if="$ctrl.rows.length > 10">
      <input
        type="search"
        class="hxTextCtrl"
        placeholder="{{ $ctrl.placeholder }}"
        ng-model="$ctrl.filter" />
    </div>
    <div class="tableContainer">
      <table class="hxTable hxHoverable hxTable--condensed searchResults">
        <thead>
          <tr>
            <th ng-repeat="header in $ctrl.headers track by $index">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="row in $ctrl.rows track by $index"
            ng-click="$ctrl.rowClick($index)"
            ng-if="$ctrl.isIncluded($index)">
            <td ng-repeat="value in row track by $index">{{ value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
