---
#{{ ansible_managed }}
# Location to store local data
data_dir: "{{ cloud_snitch_data_dir }}"

# Git repo paths to watch
git_repo_list:
{% for repo in cloud_snitch_git_repo_list %}
  - '{{ repo }}'
{% endfor %}

# Files to watch for file_snitch. May be globs
file_snitch_list:
{% for f in cloud_snitch_file_list %}
  - '{{ f }}'
{% endfor %}
