<hx-panel>
  <hx-panelhead>
    <div class="diffCtrls right">
      <div class="btnGrpRight hxBtnGroup hxLink">
        <button class="hxBtn" ng-click="$ctrl.close()"><hx-icon type="times"></hx-icon></button>
      </div>
    </div>
    <div class="hxBox-xs">
      <h2>
        Diffing {{$ctrl.diff.type}}: {{$ctrl.diff.id}} at time {{$ctrl.diff.leftTime}} and {{$ctrl.diff.rightTime}}
      </h2>
    </div>
  </hx-panelhead>
  <hx-panelbody>
    <hx-alert type="error" target="'diff'"></hx-alert>
    <bigbusy busy="$ctrl.state != 'done' && $ctrl.state != 'empty' && $ctrl.state != 'error'" text="$ctrl.humanState()"></bigbusy>
    <div ng-if="$ctrl.state == 'empty'" class="busyContainer">
      <div class="hxBox-md">
        <h2>{{ $ctrl.humanState() }}</h2>
      </div>
    </div>
    <!-- Detail view begin -->
    <div ng-if="$ctrl.detailNode && $ctrl.detailNodeType" class="diffNodeDetail hxBox-xl">
      <hx-panel>
        <hx-panelhead>
          <h3>{{ $ctrl.detailNodeType }}: {{ $ctrl.detailNodeId }}</h3>
        </hx-panelhead>
        <hx-panelbody>
          <table class="hxTable hxTable--condensed">
            <thead>
              <tr>
                <th></th>
                <th>{{ $ctrl.diff.leftTime }}</th>
                <th>{{ $ctrl.diff.rightTime }}</th>
             </tr>
            </head>
            <tbody>
              <tr ng-repeat="prop in $ctrl.detailProps()">
                <td>{{ prop }}</td>
                <td class="{{ $ctrl.detailProp(prop, 'left').css }}">{{ $ctrl.detailProp(prop, 'left').val }}</td>
                <td class="{{ $ctrl.detailProp(prop, 'right').css }}">{{ $ctrl.detailProp(prop, 'right').val }}</td>
              </tr>
            </tbody>
          </table>
        </hx-panelbody>
        <hx-panelfoot>
          <button class="hxBtn hxPrimary" ng-click="$ctrl.closeDetail()">Close</button>
        </hx-panelfoot>
      </hx-panel>
    </div>
    <!--detail view end -->
    <svg id="diff" ng-show="$ctrl.state == 'done'">
      <defs>
        <radialGradient id="addedGradient" cx="50%" cy="50%" r="50%">
          <stop stop-color="#81C784" offset="0%" />
          <stop stop-color="#43A047" offset="50%" />
          <stop stop-color="#1B5E20" offset="100%" />
        </radialGradient>
        <radialGradient id="removedGradient" cx="50%" cy="50%" r="50%">
          <stop stop-color="#ef5350" offset="0%" />
          <stop stop-color="#d32f2f" offset="50%" />
          <stop stop-color="#b71c1c" offset="100%" />
        </radialGradient>
        <radialGradient id="unchangedGradient" cx="50%" cy="50%" r="50%">
          <stop stop-color="#90A4AE" offset="0%" />
          <stop stop-color="#546E7A" offset="50%" />
          <stop stop-color="#37474F" offset="100%" />
        </radialGradient>
      </defs>
    </svg>
  </hx-panelbody>
</hx-panel>
