<hx-panelhead>
  <div class="hxRow">
    <div class="hxCol pane-ctrls">
      <div class="hxRow">
        <!-- Left controls begin -->
        <div class="hxCol hxSpan-4 left">
          <div class="btnGrpLeft hxBtnGroup hxLink">
            <button class="hxBtn back" ng-click="$ctrl.back()" ng-if="$ctrl.backable">
              <hx-icon type="angle-left"></hx-icon>
              Back
            </button>
          </div>
        </div>
        <!-- left controls end -->
        <!-- right controls begin -->
        <div class="hxCol hxSpan-8 right">
          <div class="btnGrpRight hxBtnGroup hxLink">
            <button
              class="hxBtn clone"
              ng-click="$ctrl.clone()"
              ng-if="$ctrl.cloneable"><hx-icon type="copy"></hx-icon>Clone</button>
            <button
              class="hxBtn diff"
              ng-click="$ctrl.diff()"
              ng-if="$ctrl.diffable"><hx-icon type="technical-change"></hx-icon>Diff</button>
            <button
              class="hxBtn close"
              ng-click="$ctrl.close()"><hx-icon type="times"></hx-icon>Close</button>
          </div>
        </div>
        <!-- right controls end -->
      </div>
    </div>
  </div>
</hx-panelhead>
