<div class="group title" style="border-bottom: 1px solid #424242;">
  <h2>Object Search:</h2>
</div>
<form name="searchForm" novalidate>
  <!-- Object type begin -->
  <div class="group">
    <div class="hxCol">
      <h4 class="uppercase">Show me all:</h4>
      <select class="hxTextCtrl" name="typeSelect" ng-model="$ctrl.type" ng-change="$ctrl.updatePath()" ng-required="true">
        <option ng-repeat="type in $ctrl.typesService.types" value="{{type.label}}">{{type.label}}s</option>
      </select>
      <div class="hxBox-xs hxSubdued italic">Search will return a list of only this type of object.</div>
    </div>
  </div>
  <!-- Object type end -->
  <!-- Filters begin -->
  <div class="group">
    <div class="hxCol">
      <h4 class="uppercase">That match these criteria:</h4>
      <div class="hxRow title" style="margin-bottom: 1em;" ng-if="$ctrl.filters.length > 0">
        <div class="hxSpan-3 hxBox-xs" style="padding-left: 1em;"><label>Object Type</label></div>
        <div class="hxSpan-3 hxBox-xs" style="padding-left: 1em;"><label>Property</label></div>
        <div class="hxSpan-2 hxBox-xs" style="padding-left: 1em;"><label>Operator</label></div>
        <div class="hxSpan-3 hxBox-xs" style="padding-left: 1em;"><label>Value</label></div>
        <div class="hxSpan-1"></div>
      </div>
      <!-- Filter row begin -->
      <div class="hxRow" ng-repeat="filter in $ctrl.filters" ng-form="f">
        <!-- Filter object type begin -->
        <div class="hxCol hxSpan-3">
          <div>
            <select class="hxTextCtrl" name="model" ng-model="filter.model" ng-required="true">
              <option ng-repeat="type in $ctrl.path" value="{{type}}">{{type}}</option>
            </select>
          </div>
          <div ng-if="f.model.$invalid">
            <div ng-if="f.model.$error.required">
              <hx-error>Type is required.</hx-error>
            </div>
          </div>
        </div>
        <!-- Filter object type end -->
        <!-- Filter property begin -->
        <div class="hxCol hxSpan-3">
          <div>
            <select class="hxTextCtrl" name="property" ng-model="filter.property" ng-required="true">
              <option ng-repeat="property in $ctrl.typesService.properties[filter.model]" value="{{property}}">{{property}}</option>
            </select>
          </div>
          <div ng-if="f.property.$invalid">
            <div ng-if="f.property.$error.required">
              <hx-error>Property is required.</hx-error>
            </div>
          </div>
        </div>
        <!-- Filter property end -->
        <!-- Filter operator begin -->
        <div class="hxCol hxSpan-2">
          <div>
            <select class="hxTextCtrl" name="operator" ng-model="filter.operator" ng-required="true">
              <option ng-repeat="operator in $ctrl.typesService.operators(filter.model, filter.property)" value="{{operator}}">{{operator}}</option>
            </select>
          </div>
        </div>
        <!-- Filter operator end -->
        <!-- Filter value begin -->
        <div class="hxCol hxSpan-3" ng-switch="$ctrl.typesService.propertyType(filter.model, filter.property)">
          <!-- Boolean filter value begin-->
          <select
            ng-switch-when="bool"
            class="hxTextCtrl"
            name="filterValue"
            ng-model="filter.value"
            ng-required="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <!-- Boolean filter value end -->
          <!-- Numeric filter value begin -->
          <input
            ng-switch-when="int|float"
            ng-switch-when-separator="|"
            type="number"
            class="hxTextCtrl"
            name="filterValue"
            ng-model="filter.value"
            ng-required="true"
            ng-maxlength="16" />
          <!-- Numeric filter value end -->
          <!-- Other filter value begin -->
          <input
            ng-switch-default
            class="hxTextCtrl"
            name="filterValue"
            ng-model="filter.value"
            ng-required="true"
            ng-maxlength="256" />
          <!-- Other filter value end -->
          <div ng-if="f.filterValue.$invalid">
            <div ng-if="f.filterValue.$error.required">
              <hx-error>Value is required.</hx-error>
            </div>
            <div ng-if="f.filterValue.$error.maxlength">
              <hx-error>Value must be less than 256 characters.</hx-error>
            </div>
          </div>
        </div>
        <!-- Filter value end -->
        <!-- Filter delete begin -->
        <div class="hxCol hxSpan-1">
          <div class="close-outer">
            <button type="button" class="hxBtn hxLink" ng-click="$ctrl.removeFilter(filter)"><hx-icon type="times"></hx-icon></button>
          </div>
        </div>
        <!-- Filter delete end -->
      </div>
      <!-- Filter row end -->
      <!-- Filter add begin -->
      <div class="hxRow">
        <div class="hxCol hxSpan-3">
          <button class="hxBtn" type="button" ng-click="searchForm.$valid && $ctrl.addFilter()">
            <hx-icon type="plus"></hx-icon>
            Add Criteria
          </button>
        </div>
      </div>
      <!-- Filter add end -->
    </div>
  </div>
  <!-- Filters end -->
  <!-- Time select begin -->
  <div class="group">
    <div class="hxCol">
      <div>
        <h4 class="uppercase">As they were recorded on:</h4>
        <input
          class="hxTextCtrl autoWidth"
          type="text"
          name="time"
          ng-model="$ctrl.time"
          ng-required="false"
          datetime-picker
          date-format="yyyy-MM-dd HH:mm:ss"
          close-on-select="true"
          date-time-force-val
          date-time />
        <button class="hxBtn" type="button" ng-click="$ctrl.setToNow()">Set to now</button>
      </div>
      <div ng-if="searchForm.time.$invalid">
        <div ng-if="searchForm.time.$error.dateTime">
          <hx-error>Time must be in 'YYYY-MM-DD HH:mm:ss' format.</hx-error>
        </div>
        <div ng-if="searchForm.time.$error.required">
          <hx-error>Time is required.</hx-error>
        </div>
      </div>
      <div class="hxBox-xs hxSubdued italic">Return the most recent snapshot before this moment in time.</div>
    </div><!-- hxCol -->
  </div>
  <!-- Time select end -->
  <div class="hxRow">
    <div class="hxCol hxSpan-12">
      <button class="hxBtn hxPrimary" ng-click="searchForm.$valid && $ctrl.search()">
        <hx-icon type="search"></hx-icon>
        Search
      </button>
    </div>
  </div>
</form>
