#hxAlert {
  display: flex;
}
#hxAlert button {
  align-self: flex-start;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#hxAlert #hxIconWrapper {
  flex-shrink: 0;
  padding: 1.1rem;
}
#hxAlert #hxContent {
  flex-grow: 1;
  margin-right: 1rem;
  padding: 1rem 0;
}
#hxAlert #hxDismiss {
  flex-shrink: 0;
  height: 3rem;
  padding: 1.25rem;
  width: 3rem;
}

#hxAlert #hxStatus {
  float: left;
  font-weight: 500;
  margin-right: 0.25rem;
  text-transform: uppercase;
}

#hxDismiss > hx-icon {
  color: white;
}

hx-alert {
  display: block;
  width: 100%;
  background-color: #d8d8d8;
  color: #000000;
  font-weight: 300;
  line-height: 1.25rem;
}
hx-alert:not(:last-child) {
  margin-bottom: 1rem;
}

hx-alert#master_alert {
  position: absolute;
  right: 1rem;
  top: 2rem;
}

hx-alert[type="info"] {
  background-color: #bbdefb;
  color: #000000;
}
hx-alert[type="error"] {
  background-color: #d32f2f;
  color: #ffffff;
}
hx-alert[type="success"] {
  background-color: #4caf51;
  color: #ffffff;
}
hx-alert[type="warning"] {
  background-color: #ffeb3b;
  color: #000000;
}

#hxAlert[type="info"] {
  background-color: #bbdefb;
  color: #000000;
}
#hxAlert[type="info"] > hx-icon {
  color: black;
}
#hxAlert[type="error"] {
  background-color: #d32f2f;
  color: #ffffff;
}
#hxAlert[type="success"] {
  background-color: #4caf51;
  color: #ffffff;
}
#hxAlert[type="warning"] {
  background-color: #ffeb3b;
  color: #000000;
}

#hxAlert[type="warning"] > #hxDismiss > hx-icon {
  color: black;
}

