.hxTextCtrl.ng-invalid {
  border: 2px solid #d32f2f;
}

.hxTextCtrl.ng-invalid:focus {
  box-shadow: 0 0 4px rgba(211, 47, 47, 0.5);
}

div.close-outer {
  display: table-cell;
  vertical-align: middle;
}

.searchResultsContainer {
  overflow: auto;
  padding: 0.5em;
}

.searchResults tbody tr {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.cs-file {
  max-height: 300px;
  width: 650px;
}

.clear {
  clear: both;
}

h5 {
  font-weight: 500;
}

/* body layout */

body.hxHorizontal {
  grid-template-rows: 3.5em 1fr;
}

body.hxHorizontal > #stage > #content {
  position: relative;
}

expandable-table-content .expandable {
  border-top: 1px solid #999;
}

expandable-table-content:last-child .expandable {
  border-bottom: 1px solid #999;
}

.options {
  padding: 10px;
}

.options .group {
  padding-top: 0.5em;
  border-top: 1px solid #616161;
}

.options, .expandable {
  background-color: #eee;
}

.expandable {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 5px 10px;
}

.expandable .expander {
  cursor: pointer;
}

.expandable .expander.hxRow {
  margin: 0px;
}

.expandable .expander .hxCol {
  margin: 0px;
}

.expandable .expandee {
  background-color: #fff;
  border: 1px solid #999;
}

.expandable .expandee .tableContainer {
  overflow-x: auto;
}

.panesContainer, .reportingContainer, .statusContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.panesContainer {
  height: 100%;
  overflow-x: auto;
}

.reportingContainer, .statusContainer {
  overflow-x: hidden;
  overflow-y: auto;
}

.statusContainer table {
  min-width: 600px;
}

.report {
  overflow: auto;
  height: auto;
  width: 100%;
  position: relative;
}

pane {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  border-right: 1px solid #0c7c84;
  width: 800px;
  height: 100%;
  position: relative;
}

hx-panel > hx-panelbody {
  padding : 1rem 1.5rem;
}

div.addpane {
  height: 100%;
  min-height: 700px;
  width: 2.5rem;
  color: #0c7c84;
  cursor: pointer;
  border-right: 1px solid #0c7c84;
}

div.addpane:hover {
  background-color: #16b9d4;
  border-color: transparent;
  color: #ffffff;
}

div.addpane-wrapper-outer {
  display: table;
}

div.addpane-rotate {
  transform: rotate(90deg);
  transform-origin: center;
  margin-top: .5rem;
  white-space: nowrap;
  font-size: 1em;
  line-height: 2.5rem;
  width: 2.5rem;
}

/* pane controls */

pane .pane-container {
  padding-top: 0;
}

pane .title {
  border-bottom: 1px solid #424242;
}

pane .group {
  margin-bottom: 2em;
}

pane .group:last-child {
  margin-bottom: 0.5em;
}

pane .hxBtn {
  font-size: 1em;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px 12px;
}

panetopctrl .pane-ctrls .left {
  text-align: left;
}

panetopctrl .pane-ctrls .right {
  text-align: right;
}

panetopctrl .pane-ctrls .hxBtnGroup {
  padding-right: 1em;
  padding-left: 1em;
}

panetopctrl .pane-ctrls,
.diffContainer .diffCtrls,
.report .report-ctrls {
  background-color: #ddd;
  padding-left: 1rem;
  padding-right: 1rem;
}

panetopctrl .pane-ctrls .hxBtn,
.report .report-ctrls .hxBtn {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  padding: 12px 0;
  font-weight: 600;
}

panetopctrl .pane-ctrls .hxBtn hx-icon,
.report .report-ctrls .hxBtn hx-icon {
  position: relative;
  margin-right: 0.15em;
}

panetopctrl .pane-ctrls .close hx-icon,
panetopctrl .pane-ctrls .clone hx-icon,
panetopctrl .pane-ctrls .back hx-icon,
.report .report-ctrls .back hx-icon {
  top: 2px;
}

panetopctrl .pane-ctrls .diff hx-icon[type=technical-change] {
  top: 3px;
}

/* typography */

body #head #page_title {
  line-height: 1.5rem;
  color: white;
  font-size: .7em;
  font-weight: 700;
  margin-left : .5rem;
  font-family: 'Roboto', sans-serif;
}

/* suggested deviations from helix */

/* line height of title element is taller than spec */
h2, .hxHeading-2, .hxSectionTitle {
  line-height: 2rem;
}

/* need the affordance to add contextual subtitles */
.subtitle {
  margin-top: -0.5rem;
  display: block;
  font-size: .9em;
  font-style: italic;
  opacity: .7;
}

/* when table does not start with a checkbox, reduce left pad to 0 */
.hxTable--condensed thead tr th:first-child,
.hxTable--condensed tbody tr td:first-child {
  padding-left: 0;
}

/* i hate how big and un-differentiated the table headers and labels are */
.smallcap, label,
table.hxTable thead tr th {
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #424242;
  /* text-transform: uppercase;*/
}

/* tables have too much top padding. the rest of the box models seem to have only bottom pad, this should follow the same pattern */
table.hxTable thead tr th {
  padding-top: 0;
}

/* hover state does not offer enough visual differentiation, especially on low-end monitors where the contrast is insufficient for this to be visible */
.hxTable.hxHoverable tbody tr:hover td,
.hxTable.hxHoverable tbody tr:hover th,
.hxTable--hover tbody tr:hover td,
.hxTable--hover tbody tr:hover th {
  background-color: #eee;
}

.diffContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #0c7c84;
  background-color: #fff;
}

.diffContainer hx-panelbody {
  position: relative;
}

svg#diff {
  width: 100%;
  height: 100%;
}

svg#diff path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
}

div.diffNodeDetail {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 1000px;
    border: 1px solid #0c7c84;
    background: rgba(255, 255, 255, 0.95);
}

div.diffNodeDetail hx-panel {
    max-height:500px;
}

.diffLeft {
    background-color: #EF9A9A;
    color: #B71C1C;
}

.diffRight {
    background-color: #C8E6C9;
    color: #1B5E20;
}

.busyContainer {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busyContainer .hxBox-md {
  border: 3px solid #0c7c84;
  background: white;
  border-radius: 10px;
}

.diffBusy {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diffBusy h2 {
  width: 350px;
  text-align: center;
}

.hxPagination {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

.hxPagination .hxBtn {
    border: none;
    min-width: 2.5rem;
}

.hxBtnGroup > .hxBtn {
    border-radius: 0;
}

.hxBtn[disabled] {
    background-color: transparent;
    border-color: #d8d8d8;
    color: #d8d8d8;
    cursor: not-allowed;
}

.hxPagination .hxBtn[aria-current="true"] {
    background-color: #0c7c84;
    color: #ffffff;
}

.pagination {
  text-align: center;
}

.pagedTable th div.titleWrapper {
  display: flex;
  align-items: center;
}

.titleWrapper .iconWrapper {
  max-width: 1.5em;
}

.topNav {
  margin-left: auto;
  max-width: 50%;
}

.topNav .hxBtn {
  border: none;
  color: white;
}

.topNav .hxBtn:hover {
  background: black;
  color: white;
  border: none;
}

.node circle {
  stroke-width: 3px;
}

.node.unchanged circle {
  fill: lightsteelblue;
  stroke: steelblue;
}

.node.added circle {
  fill: lightgreen;
  stroke: limegreen;
}

.node.removed circle {
  fill: salmon;
  stroke: red;
}

.node.both circle {
  fill: orange;
  stroke: darkorange;
}

.node circle.empty {
  fill: #ffffff;
}

.autoWidth {
  width: auto;
  display: inline;
}

.fieldWrapper {
  float: left;
  padding: 0.3em 0.15em;
}

.fieldmenu {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.16);
  display: block;
  max-width: 20rem;
  min-width: 10rem;
  position: absolute;
  z-index: 100;
  max-height: 400px;
  overflow-y: auto;
}

.fieldmenu .menuitem {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: #0c7c84;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0.25em 1em;
}

.fieldmenu .menuitem:hover {
  background-color: #ddd;
  border-color: transparent;
  color: #16b9d4;
}

.fieldmenu .menuitem:active {
  background-color: transparent;
  border-color: transparent;
  color: #0e94a6;
}

.fieldmenu .menuitem:focus {
  box-shadow: none;
}

.fieldmenu .menuitem.current {
  color: #0c7c84;
  font-weight: bolder;
}

.fieldmenu .menugroup {
  display: block;
}

.fieldmenu .menugroup .header {
  color: #9e9e9e;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.25em 0.5em 0.1em 0.5em;
}

.fieldmenu .menugroup + .fieldmenu .menugroup {
  margin-top: 0.5rem;
}

.chart-container {
  position: relative;
}

.chart-container .chart-ctx {
  position: absolute;
  top: 20px;
  right: 20px;
}

.chart-container .chart-ctx hx-icon {
  font-size: 2em;
}

.chart-container .chart-ctrls {
  position: absolute;
  top: 20px;
  right: 80px;
  width: 300px;
  border: 1px solid #0c7c84;
  background-color: #fff;
}

.chart-container .chart {
  width: 100%;
  border: 1px solid #bdbdbd;
}

.chart-container-md .chart {
  height: 600px;
}

.chart-container-sm .chart {
  height: 300px;
}

.good, .healthy {
  color: #1B5E20;
}

.bad, .unhealthy {
 color: #B71C1C
}
